.hero {
  height: 90vh;
  background: url("/public/bg.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.hero-content {
  color: white;
}

.btn {
  background: #4caf50;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
